.user-container{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.user-item{
    /* border:1px solid brown;  */
    overflow:hidden;
    border-radius: 26px;
    box-shadow: 0px 3px 6px #00000029;
    background-color: white;
    width:30vw;
    display:flex;   
    margin:10px;    
    min-height: 15vw;
}
.user-item img{
    object-fit: cover;
    max-height: 20vw;
    min-width: 15vw;
    max-width: 10vw;
}

.info-box{
    padding:10px;
}

.user-item .deleteButton{
    opacity:0.6;
    background-color:red !important;
    border-radius:25px;
    font-family: 'Montserrat' !important;
    font-weight: 600;
    font-size:0.9em;
    color:white;
    width:8vw;
    height:2vw;
    align-self:center;
    outline:none;
    border:none;
    margin-top:5vw; 
    /* margin:10px; */
}
