/* Daca vrem ca aplicatia sa ocupe intreg viewport-ul. */
.app {
  /* background-color: #F5F5F5; */
  /* background-image: url("./assets/crissxcross.png")!important; */
  /* background-repeat: repeat; */
  /* backdrop-filter: blur(10px); */


  /* background-position: center !important; Center the image */
  /* background-size: cover !important; Resize the background image to cover the entire container */
  min-height: 100vh;
}

.app h1 {
  background-color:black;
  opacity:0.8;
  color:white !important;
  padding:10px;
  font-size:1.6em;
  margin-top: 0;
  margin-bottom:3vw;
  font-family: 'Montserrat';
  /* color:white; */
  text-align:center;
}
.app .button-container{
  display:flex;
  justify-content: center;
  margin-top:2vw;
}
.app .styledButton{
  /* background-color: red; */
  opacity:0.6;
  background-color: black!important;
  border-radius:25px;
  font-family: 'Montserrat' !important;
  font-weight: 600;
  font-size:1em;
  color:white;
  width:10vw;
  height:3vw;
  align-self:center;
  outline:none;
  border:none;
  margin:10px;
  /* align-self:center; */

}

.settings-buttons{
  padding-top:2vw;
  display: flex;
  /* justify-content: center; */
  width:400px;
  margin:0 auto;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* align-self: center; */
  text-align: center;
   /* background-color: #f5f5f5; */
}
.settings-buttons input{
  background-color: lightgray;
}

.settings-buttons label{
  font-weight: 500;

}