.home {
  min-height: 100vh;
}

.home h1 {
  background-color:black;
  opacity:0.8;
  color:white !important;
  padding:10px;
  font-size:1.6em;
  margin-top: 0;
  margin-bottom:3vw;
  font-family: 'Montserrat';
  text-align:center;
}
.home .button-container{
  display:flex;
  justify-content: center;
  margin-top:2vw;
}
.home .styledButton{
  opacity:0.6;
  background-color: black!important;
  border-radius:25px;
  font-family: 'Montserrat' !important;
  font-weight: 600;
  font-size:1em;
  color:white;
  width:10vw;
  height:3vw;
  align-self:center;
  outline:none;
  border:none;
  margin:10px;
  min-width: 180px;
  min-height: 35px;

}

.settings-buttons{
  padding-top:2vw;
  display: flex;
  width:400px;
  margin:0 auto;
  flex-direction: row;
  text-align: center;
}
.settings-buttons input{
  background-color: lightgray;
}

.settings-buttons label{
  font-weight: 500;

}

.home ::placeholder{
    color:#f1f1f1;
    font-size:1.2em;
    font-family: 'Montserrat';
}

.about-page{

}

.home .link{ 
  padding: 2vw 0vw;
  text-align: center;
}
.home .link-text{
  /* text-decoration: none; */
  color:black;
  font-family: 'Montserrat';
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .home .styledButton{
      min-width: 180px;
      min-height: 35px;
  }
}